<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Sumkabum\Magento2RemoveOrphanImages\Console\RemoveOrphanImages" xsi:type="object">Sumkabum\Magento2RemoveOrphanImages\Console\RemoveOrphanImages</item>
            </argument>
        </arguments>
    </type>
</config>
